/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root-level font and smoothing */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
