.map-wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.interactive-map {
    height: 400px; 
    width: 100%;
    max-width: 900px;
    border-radius: 12px;
    border: 3px solid #1E90FF; 
    transition: all 0.5s ease-in-out;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .interactive-map {
        height: 300px; /* Smaller height for mobile */
        max-width: 100%; /* Ensure it takes full width on small screens */
    }
}

.interactive-map:hover {
    box-shadow: 0 0 25px rgba(30, 144, 255, 0.8);
}

.leaflet-container {
    z-index: 0;
}

@media (max-width: 424px) {
  .interactive-map{
    margin-top: 20px;
    margin-bottom: 20px;
   
  }
   
}